{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Learning</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/base.css' %}">

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cherry Swash' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Concert One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'> 
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Averia Gruesa Libre' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Calistoga' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Chonburi' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Copse' rel='stylesheet'>
</head>
<body class="purple lighten-1">

    <!-- Navbar -->
    <section class="fnavbar">
    <nav class="nav-extended">
        <div class="nav-wrapper purple lighten-1" style="height: 80px;">
            <a href="#" class="brand-logo" style="font-size: 50px;">Cookie Learning</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            
        </div>
        <div class="nav-content pink lighten-2" style="height: 60px;">
            <ul class="tabs tabs-transparent">
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <ul class="hide-on-med-and-down">
                        <li><a href="#" style="margin: 0px 20px; font-size: 20px;">Home</a></li>
                        <li><a href="#" style="margin: 0px 20px; top: -100px; font-size: 20px;">Courses</a></li>
                        <li><a href="#" style="margin: 0px 20px; top: -100px; font-size: 20px;">Oppurtunities</a></li>
                        <li><a href="#" style="margin: 0px 20px; top: -100px; font-size: 20px;">Learn More</a></li>
                    </ul>
                </ul>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Home</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Oppurtunities</a></li>
        <li><a href="#">Learn More</a></li>
    </ul>

    </section>


    {% block content %}
    

    {% endblock %}

    <!-- Feature Discovery -->
    <a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('open')">Open tap
        target</a>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a id="menu" class="btn btn-floating btn-large cyan" onclick="$('.tap-target').tapTarget('open')">
            <i class="material-icons">menu</i>
        </a>
    </div>
    <div class="tap-target cyan" data-target="menu">
        <div class="tap-target-content white-text">
            <h5>I am here</h5>
            <p class="white-text">Provide value and encourage return visits by introducing users to new features and
                functionality at contextually
                relevant moments.</p>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer" style="margin-top: 0px;">
        <div class="container">
            <div class="row">
                <div class="col l12 m12 s12">
                    <h5 class="white-text" style="margin-top: 0px;">For more details</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">edenhazard91124@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>  
        <div class="footer-copyright">
            <div class="container">
                © 2020 Cookie
                <a class="grey-text text-lighten-4 right" href="#!">Designed by Cookie</a>
            </div>
        </div>
    </footer>


    <!-- End of HTML -->

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>

    <!-- Materialize JS -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Custom Js -->
    <script src="{% static 'home/base.js' %}"></script>

</body>
</html>