{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="" style="background-color: rgb(253, 218, 235);">
    <div class="container" style="background-color: rgb(253, 218, 235);">
        <div class="row">
            <h2 class="purple-text " style="margin-top: 0px; padding: 30px; font-family: 'Chonburi';font-weight: 100;">
                MySQL </h2>
            <h5 style="font-family: 'Copse'; color: rgb(88, 86, 86);">
                MySQL is a very efficient database used by many companies in production. In this course you will learn how to code different queries in MySQL.
            </h5>
            <br>
            <h4 class="purple-text">
                Contents of this course
            </h4>
            <ul class="collection">
                <li class="collection-item">Introduction</li>
                <li class="collection-item">Installing MySQL</li>
                <li class="collection-item">Creating Databases</li>
                <li class="collection-item">Select statement</li>
                <li class="collection-item">Where statement</li>
                <li class="collection-item">AND, OR and NOT operators</li>
                <li class="collection-item">IN operator</li>
                <li class="collection-item">BETWEEN operator</li>
                <li class="collection-item">LIKE operator</li>
                <li class="collection-item">IS NULL operator</li>
                <li class="collection-item">REGEXP operator</li>
                <li class="collection-item">ORDERBY operator</li>
                <li class="collection-item">LIMIT operator</li>
                <li class="collection-item">Joins</li>
                <li class="collection-item">Unions</li>
                <li class="collection-item">CRUD Operations</li>

                </h2>
                <div class="s4 m4 l4 right">
                    <div class="card-image waves-effect waves-block waves-light right">
                        <a href="{% url 'register' %}" class="waves-effect waves-light btn-large right"
                            style="margin: 20px; width: 250px; margin-right: 0px;"><i
                                class="material-icons right">flash_on</i>Register Course</a>
                    </div>
                </div>
        </div>
    </div>


{% endblock content %}