{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="" style="background-color: rgb(253, 218, 235);">
    <div class="container" style="background-color: rgb(253, 218, 235);">
        <div class="row">
            <h2 class="purple-text " style="margin-top: 0px; padding: 30px; font-family: 'Chonburi';font-weight: 100;">
                Git </h2>
            <h5 style="font-family: 'Copse'; color: rgb(88, 86, 86);">
                In this course you will go through the complete Version Control System Process with git. This course will help you to work with your colleagues in a simple and easier way.
            </h5>
            <br>
            <h4 class="purple-text">
                Contents of this course
            </h4>
            <ul class="collection">
                <li class="collection-item">Introduction</li>
                <li class="collection-item">What is version control system?</li>
                <li class="collection-item">Installing Git</li>
                <li class="collection-item">Creating Repositories</li>
                <li class="collection-item">ADD and COMMIT commands</li>
                <li class="collection-item">Working with multiple branches</li>
                <li class="collection-item">Local and Remote repositories</li>
                <li class="collection-item">Connecting to Github</li>
                <li class="collection-item">PUSH and PULL commands</li>
                <li class="collection-item">Merging and Rebasing</li>

                </h2>
                <div class="s4 m4 l4 right">
                    <div class="card-image waves-effect waves-block waves-light right">
                        <a href="{% url 'register' %}" class="waves-effect waves-light btn-large right"
                            style="margin: 20px; width: 250px; margin-right: 0px;"><i
                                class="material-icons right">flash_on</i>Register Course</a>
                    </div>
                </div>
        </div>
    </div>


{% endblock content %}