
{% extends "home/base.html" %}
{% load static %}

{% block content %}

<section class="firframe" style="border-bottom: 3px solid grey;">
<div class="main-container">
    <div class="row">
        <div class="col l8 m8 s8">
            <div class="para">
            <h3 class="white-text para-heading">Want to become a programmer?<br>You are in the right place!!..</h3>
            <br>
            <h5 class="white-text para-text">Welcome to Cookie Learning!! <br>
                Here you can learn programming in a easy way.</h5>
            </div>
        </div> 
        <div class="col l4 m4 s4">
            <img class="mainbg circle" src="{% static 'home/bg1.jpg' %}" alt="">
        </div>
    </div>
    <div class="container-footer">
        <img class="footer-pic" src="{% static 'home/pic1.png' %}" alt="">
    </div>
</div>
</section>
<!-- Next frame -->
<section class="secframe" style="border-bottom: grey solid 3px;">
    <div class="container">
        <h2 class="center black-text" style="font-family: Amarante; text-decoration: underline;">Things required to become a programmer</h2>
        <br>
        <ul class="collection" style="border: none;">
            <li class="collection-item avatar" style="margin: 10px; border-radius: 10%; border: grey solid 3px;">
                <i class="material-icons circle">arrow_forward</i>
                <h5 style="margin-top: 5px;">Passion and Interest</h5>
                <h6 style="color: rgb(82, 78, 78);">
                    One must love computer science to master it!!..
                </h6>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar" style="margin: 10px; border-radius: 10%; border: grey solid 3px;">
                <i class="material-icons circle">arrow_forward</i>
                <h5 style="margin-top: 5px;">Logical Thinking</h5>
                <h6 style="color: rgb(82, 78, 78);">
                    Logic is everything in programming.
                </h6>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar" style="margin: 10px; border-radius: 10%; border: grey solid 3px;">
                <i class="material-icons circle green">arrow_forward</i>
                <h5 style="margin-top: 5px;">HardWork</h5>
                <h6 style="color: rgb(82, 78, 78);;">
                    Work more, Fetch better results!!..
                </h6>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar" style="margin: 10px; border-radius: 10%; border: grey solid 3px;">
                <i class="material-icons circle red">arrow_forward</i>
                <h5 style="margin-top: 5px;">Patience</h5>
                <h6 style="color: rgb(82, 78, 78);;">
                    Be cool while coding cause it will be fun.
                </h6>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        </ul>
    </div>
</section>

<!-- Courses -->
<section class="thiframe pink darken-1" >
    <div class="">
        <h2 class="center" style="font-family: Amarante; text-decoration: underline; margin-top: 0px; padding-top: 30px;">Courses Offered</h2>
        <br>
        <div class="row purple lighten-5" style="border-radius: 7%; padding: 30px; margin: 10px 40px 10px 40px;">
            <div class="col l8 m8 s12" style="padding-right: 20px;">
                <h3 style="font-family: 'Acme';">Python</h3>
                <h6 class="grey-text text-darken-2" style="text-align: justify; font-family: 'Alegreya Sans'; font-size: 22px;">
                    Python is the most efficient programming language. It is beginner friendly and can be learnt with ease. It has got amazing web development frameworks like Django and Flask, also it is widely used in machine learning and artificial intelligence. If you want to become a good programmer surely you need python.
                </h6>
                <a class="waves-effect waves-light btn-large pink darken-1" style="margin: 20px;"><i
                        class="material-icons left">send</i>Check the Courses</a>
            </div>
            <div class="col l4 m4 s12" style="padding-left: 100px;">
                <img src="{% static 'home/python.png' %}" alt="">
            </div>      
        </div>
        <br>
        <div class="row purple lighten-5" style="border-radius: 7%; padding: 30px; margin: 10px 40px 10px 40px;">
            <div class="col l8 m8 s12" style="padding-right: 20px;">
                <h3 style="font-family: 'Acme';">JavaScript</h3>
                <h6 class="grey-text text-darken-2" style="text-align: justify; font-family: 'Alegreya Sans'; font-size: 22px;">
                    Javascript is a powerful programming language predominantly used for web development. It is highly required if you want to become a web developer. It has popular frameworks such as node.js for programming and React.js which is a highly used web development framework.
                </h6>
                <a class="waves-effect waves-light btn-large pink darken-1" style="margin: 20px;"><i
                        class="material-icons left">send</i>Check the Courses</a>
            </div>
            <div class="col l4 m4 s12" style="padding-left: 100px;">
                <img src="{% static 'home/javascript.jpeg' %}" style="height: 220px; width: 230px;" alt="">
            </div>
        </div>
        <br>
        <div class="row purple lighten-5" style="border-radius: 7%; padding: 30px; margin: 10px 40px 10px 40px;">
            <div class="col l8 m8 s12" style="padding-right: 20px;">
                <h3 style="font-family: 'Acme';">HTML & CSS</h3>
                <h6 class="grey-text text-darken-2" style="text-align: justify; font-family: 'Alegreya Sans'; font-size: 22px;">
                    HTML & CSS are the most important languages required for web development. HTML is the base core language of every webpage and is essential to be learnt. Eventough many Bootstrap softwares have been developed we still require CSS knowledge for styling our webpages.
                </h6>
                <a class="waves-effect waves-light btn-large pink darken-1" style="margin: 20px;"><i
                        class="material-icons left">send</i>Check the Courses</a>
            </div>
            <div class="col l4 m4 s12" style="padding-left: 100px;">
                <img src="{% static 'home/htmlcss.png' %}" style="height: 220px; width: 230px;" alt="">
            </div>
        </div>
        <br>
        <div class="row purple lighten-5" style="border-radius: 7%; padding: 30px; margin: 10px 40px 10px 40px;">
            <div class="col l8 m8 s12" style="padding-right: 20px;">
                <h3 style="font-family: 'Acme';">Databases</h3>
                <h6 class="grey-text text-darken-2" style="text-align: justify; font-family: 'Alegreya Sans'; font-size: 22px;">
                    Programming languages are important. But without a database every language is useless. Learning a database language can be greatly helpful in your career. Database developers of MySQL, Postgresql and Oracle earn 6 digit sum of dollars each year.   
                </h6>
                <a class="waves-effect waves-light btn-large pink darken-1" style="margin: 20px;"><i
                        class="material-icons left">send</i>Check the Courses</a>
            </div>
            <div class="col l4 m4 s12" style="padding-left: 100px;">
                <img src="{% static 'home/database.jpg' %}" style="height: 220px; width: 230px;" alt="">
            </div>
        </div>
        <br>
        <div class="row purple lighten-5" style="border-radius: 7%; padding: 30px; margin: 10px 40px 10px 40px;">
            <div class="col l8 m8 s12" style="padding-right: 20px;">
                <h3 style="font-family: 'Acme';">git</h3>
                <h6 class="grey-text text-darken-2" style="text-align: justify; font-family: 'Alegreya Sans'; font-size: 22px;">
                    Git (Version Control System) is a commonly used term in programming world. It helps every programmer to connect properly with co-workers and finish a project in a matter of time. It highly increases speed of programming. Various distributed version control systtems such as Github and Docker are highly used.
                </h6>
                <a class="waves-effect waves-light btn-large pink darken-1" style="margin: 20px;"><i class="material-icons left">send</i>Check the Courses</a>
            </div>
            <div class="col l4 m4 s12" style="padding-left: 100px;">
                <img src="{% static 'home/git.png' %}" style="height: 220px; width: 230px;" alt="">
            </div>
        </div>
        <br>
    </div>
</section>

{% endblock content %}