{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="" style="background-color: rgb(253, 218, 235);">
    <div class="container" style="background-color: rgb(253, 218, 235);">
        <div class="row">
            <h2 class="purple-text " style="margin-top: 0px; padding: 30px; font-family: 'Chonburi';font-weight: 100;">
                CSS complete Course </h2>
            <h5 style="font-family: 'Copse'; color: rgb(88, 86, 86);">
                CSS (Cascading Style Sheet) is a very useful language used for styling your web pages. Get rid of old ugly webpages and make awesome webpages by learning complete CSS here.
            </h5>
            <br>
            <h4 class="purple-text">
                Contents of this course
            </h4>
            <ul class="collection">
                <li class="collection-item">Introduction</li>
                <li class="collection-item">Syntax</li>
                <li class="collection-item">Selectors</li>
                <li class="collection-item">Colors</li>
                <li class="collection-item">Background</li>
                <li class="collection-item">Borders, Margins and Padding</li>
                <li class="collection-item">Google Dev Tools</li>
                <li class="collection-item">Box Model</li>
                <li class="collection-item">Text and Fonts</li>
                <li class="collection-item">Icons</li>
                <li class="collection-item">Links</li>
                <li class="collection-item">Lists</li>
                <li class="collection-item">Tables</li>
                <li class="collection-item">Display</li>
                <li class="collection-item">Float</li>
                <li class="collection-item">Alignment</li>
                <li class="collection-item">Pseudo Classes and Elements</li>
                <li class="collection-item">Navigation Bar</li>
                <li class="collection-item">Dropdown Menu</li>
                <li class="collection-item">Layouts</li>
                <li class="collection-item">Animations</li>
                <li class="collection-item">Media Queries</li>
                <li class="collection-item">Flexboxes</li>
                <li class="collection-item">Bootstrap</li>
                </h2>
                <div class="s4 m4 l4 right">
                    <div class="card-image waves-effect waves-block waves-light right">
                        <a href="{% url 'register' %}" class="waves-effect waves-light btn-large right"
                            style="margin: 20px; width: 250px; margin-right: 0px;"><i
                                class="material-icons right">flash_on</i>Register Course</a>
                    </div>
                </div>
        </div>
    </div>


{% endblock content %}