{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="" style="background-color: rgb(253, 218, 235);">
    <div class="container" style="background-color: rgb(253, 218, 235);">
        <div class="row">
            <h2 class="purple-text " style="margin-top: 0px; padding: 30px; font-family: 'Chonburi';font-weight: 100;">
                HTML complete Course </h2>
            <h5 style="font-family: 'Copse'; color: rgb(88, 86, 86);">
                HTML (Hyper Text Markup Language) is the most important language for web development. In this course you
                will learn the complete structure of HTML and its usage.
            </h5>
            <br>
            <h4 class="purple-text">
                Contents of this course
            </h4>
            <ul class="collection">
                <li class="collection-item">Introduction</li>
                <li class="collection-item">Basics</li>
                <li class="collection-item">elements</li>
                <li class="collection-item">Attributes</li>
                <li class="collection-item">Headings</li>
                <li class="collection-item">Styles</li>
                <li class="collection-item">Links</li>
                <li class="collection-item">Images</li>
                <li class="collection-item">Tables</li>
                <li class="collection-item">Lists</li>
                <li class="collection-item">Forms</li>
                <li class="collection-item">Classes and Id</li>
                <li class="collection-item">Javascript with HTML</li>
                </h2>
                <div class="s4 m4 l4 right">
                    <div class="card-image waves-effect waves-block waves-light right">
                        <a href="{% url 'register' %}" class="waves-effect waves-light btn-large right"
                            style="margin: 20px; width: 250px; margin-right: 0px;"><i
                                class="material-icons right">flash_on</i>Register Course</a>
                    </div>
                </div>
        </div>
    </div>



{% endblock content %}