{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="" style="background-color: rgb(253, 218, 235);">
    <div class="container" style="background-color: rgb(253, 218, 235);">
        <div class="row">
            <h2 class="purple-text " style="margin-top: 0px; padding: 30px; font-family: 'Chonburi';font-weight: 100;">
                Javascript for Beginners </h2>
            <h5 style="font-family: 'Copse'; color: rgb(88, 86, 86);">
                This is the course for javascript absolute beginners. At the end of this course you will be familiar with
                javascript and be able to work with frontend javascript in a easy manner.
            </h5>
            <br>
            <h4 class="purple-text">
                Contents of this course
            </h4>
            <ul class="collection">
                <li class="collection-item">Introduction</li>
                <li class="collection-item">Understanding Javascript</li>
                <li class="collection-item">Datatypes</li>
                <li class="collection-item">Variables</li>
                <li class="collection-item">Input and Console</li>
                <li class="collection-item">Strings</li>
                <li class="collection-item">Arithmetic operators</li>
                <li class="collection-item">Logical operators</li>
                <li class="collection-item">Comparison operators</li>
                <li class="collection-item">If statement</li>
                <li class="collection-item">For loops</li>
                <li class="collection-item">While loops</li>
                <li class="collection-item">Nested loops</li>
                <li class="collection-item">Arrays</li>
                <li class="collection-item">Objects</li>
                <li class="collection-item">Functions</li>
                <li class="collection-item">Arguments and parameters</li>
                <li class="collection-item">Classes</li>
                <li class="collection-item">Working with HTML</li>
            </ul>
            </h2>
            <div class="s4 m4 l4 right">
                <div class="card-image waves-effect waves-block waves-light right">
                    <a href="{% url 'register' %}" class="waves-effect waves-light btn-large right"
                        style="margin: 20px; width: 250px; margin-right: 0px;"><i
                            class="material-icons right">flash_on</i>Register Course</a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}