{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="" style="background-color: rgb(253, 218, 235);">
    <div class="container" style="background-color: rgb(253, 218, 235);">
        <div class="row">
            <h2 class="purple-text " style="margin-top: 0px; padding: 30px; font-family: 'Chonburi';font-weight: 100;">
                React </h2>
            <h5 style="font-family: 'Copse'; color: rgb(88, 86, 86);">
                React is a highly used framework for web development. In this tutorial you will learn the complete usage of React and build your own web applications.
            </h5>
            <br>
            <h4 class="purple-text">
                Contents of this course
            </h4>
            <ul class="collection">
                <li class="collection-item">Introduction</li>
                <li class="collection-item">Installing Node</li>
                <li class="collection-item">Modules</li>
                <li class="collection-item">HTTP Module</li>
                <li class="collection-item">File System</li>
                <li class="collection-item">URL module</li>
                <li class="collection-item">NPM</li>
                <li class="collection-item">Events</li>
                <li class="collection-item">Upload Files</li>
                <li class="collection-item">Email</li>
                </h2>
                <div class="s4 m4 l4 right">
                    <div class="card-image waves-effect waves-block waves-light right">
                        <a href="{% url 'register' %}" class="waves-effect waves-light btn-large right"
                            style="margin: 20px; width: 250px; margin-right: 0px;"><i
                                class="material-icons right">flash_on</i>Register Course</a>
                    </div>
                </div>
        </div>
    </div>


{% endblock content %}