
{% extends "home/base.html" %}
{% load static %}

{% block content %}

<h1>It works</h1>
<a href="{% url 'python-beginner' %}" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>View Course</a>
<a href="{% url 'python-gui' %}" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>View Course</a>
<a href="{% url 'python-datascience' %}" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>View Course</a>
<a href="{% url 'python-django' %}" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>View Course</a>

{% endblock content %}