{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="" style="background-color: rgb(253, 218, 235);">
    <div class="container" style="background-color: rgb(253, 218, 235);">
        <div class="row">
            <h2 class="purple-text " style="margin-top: 0px; padding: 30px; font-family: 'Chonburi';font-weight: 100;">
                Django Framework </h2>
            <h5 style="font-family: 'Copse'; color: rgb(88, 86, 86);">
                Django web development framework is one of the most amazing frameworks present. It makes web development easy and provides you with lots of efficiency. In this course you will learn the complete django framework and build a complete web application on your own and deploy it on a live server.
            </h5>
            <br>
            <h4 class="purple-text">
                Contents of this course
            </h4>
            <ul class="collection">
                <li class="collection-item">Introduction</li>
                <li class="collection-item">Applications and Routes</li>
                <li class="collection-item">Templates</li>
                <li class="collection-item">Admin Page</li>
                <li class="collection-item">Databse and Migrations</li>
                <li class="collection-item">User Registration</li>
                <li class="collection-item">Profiles</li>
                <li class="collection-item">Class based Views</li>
                <li class="collection-item">Email Password and Reset</li>
                <li class="collection-item">Deploying it Online</li>

            </ul>
            </h2>
            <div class="s4 m4 l4 right">
                <div class="card-image waves-effect waves-block waves-light right">
                    <a href="{% url 'register' %}" class="waves-effect waves-light btn-large right"
                        style="margin: 20px; width: 250px; margin-right: 0px;"><i
                            class="material-icons right">flash_on</i>Register Course</a>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}